@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #bb2e29;
  --color-brand-dark: #a02622;
  --color-brand-text: #ffffff;

  --color-base-grey: #d9d9d9;
  --color-base-background: #ffffff;
  --color-base-text: #000000;

  --color-ui-card: #e5e4e4;
  --color-ui-border: #e5e7eb;

  --color-accent: #ffcc00;
  --color-accent-warning: #f59e0b;
}

body {
  background-color: var(--color-base-background);
  color: var(--color-base-text);
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
