# Server Configuration
PORT=3000
NODE_ENV=development

# Authentication (JWT)
JWT_SECRET=change_this_string_with_a_long_key
JWT_EXPIRES_IN=1h

# Gemini API Configuration
GEMINI_API_KEY=your_gemini_api_key_here // More details at https://aistudio.google.com/api-keys

# Web Push VAPID Keys
VAPID_PUBLIC_KEY=insert_public_vapid_key_generated
VAPID_PRIVATE_KEY=insert_private_vapid_key_generated
VAPID_SUBJECT=mailto:your_email

# URL of the Unibo Provider service
# If running the server locally on your machine, use: http://localhost:8080
# If running the server inside a Docker container within the network, use: http://almaspot-unibo-provider:8080
UNIBO_SERVICE_URL=http://almaspot-unibo-provider:8080

#Mongo
MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_DB_NAME=almaspot
MONGO_URI=mongodb://admin:password@localhost:27017/almaspot?authSource=admin
